# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenv
.venv/
env/
venv/

# VSCode / PyCharm / IDE
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log

# SQLite (ako ikad koristiš za test)
*.sqlite3
*.db

# Env files
.env
.env.*

# Docker
*.pid
*.seed
*.bak
